{% extends 'base.html' %}
{% load static %}

{% block title %}
    User Profile
{% endblock title %}

{% block content %}
<main class= 'container'>
    {% include 'parts/left.html' %}

    <section class= 'user-profile'>
        <div class="nav">
            <a href="#"><img src="{% static 'img/left-arrow.png' %}" alt=""></a>
            <div class="user">
                <p>Omar Muhammed Khalaf</p>
                <span>0 Tweets</span>
            </div>
        </div>
        <div class="cover-img">
            <img src="{% static 'img/3.jpg' %}" alt="">
        </div>
        <div class="card">
            <div class="user-img">
                <img src="{% static 'img/3.jpg' %}" alt="">
            </div>
            <div class="edit-profile-btn">
                <a class= 'light-sm-btn' href="#">Edit Profile</a>
            </div>
            <div class="user-data">
                <div class="user-name">
                    <p>Omar Muhammed Khalaf</p>
                    <span>@OmarMuhammed</span>
                </div>
                
                <div class="user-bio">
                    <p>Omar Muhammad Khalaf 21 Years Old Faculty Of Science Computer Science Department</p>
                </div>
                <div class="date-joined">
                    <span class="calendar fas fa-calendar-alt"></span>
                    <p class="date">Joined September 2021</p>
                </div>
                <div class="follow">
                    <a href="#" class="following"><span class= 'count'>0</span> Following</a>
                    <a href="#" class="followers"><span class= 'count'>0</span> Followers</a>
                </div>
            </div>
        </div>
        <div class="tabs">
            <span>Tweets</span>
            <span>Replies</span>
            <span>Medispan</span>
            <span>Likes</span>
        </div>

        <div class="user-tweets">
            <a class="post-card" href="#">
                <div class="user-img">
                    <img src="{% static 'img/3.jpg' %}" alt="">
                </div>
                <div class="user-info">
                    <p class="full-name">Omar Muhammed Khalaf</p>
                    <p class="username">@OmarKhalaf</p>
                    <p class="created-at">3h</p>
                </div>
                <div class="post-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto nemo maiores placeat perspiciatis perferendis, sequi iusto harum sint quod nulla, reprehenderit vero dolorum minima optio amet veritatis ullam deserunt sed.</p>
                </div>
                <div class="post-img">
                    <img src="{% static 'img/3.jpg' %}" alt="">
                </div>
                <div class="icons">
                    <span class= 'far fa-comment'></span>
                    <span class= 'fas fa-retweet'></span>
                    <span class= 'far fa-heart'></span>
                    <span class= 'far fa-share-square'></span>
                </div>
            </a>

            <a class="post-card" href="#">
                <div class="user-img">
                    <img src="{% static 'img/3.jpg' %}" alt="">
                </div>
                <div class="user-info">
                    <p class="full-name">Omar Muhammed Khalaf</p>
                    <p class="username">@OmarKhalaf</p>
                    <p class="created-at">3h</p>
                </div>
                <div class="post-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto nemo maiores placeat perspiciatis perferendis, sequi iusto harum sint quod nulla, reprehenderit vero dolorum minima optio amet veritatis ullam deserunt sed.</p>
                </div>
                <div class="post-img">
                    <img src="{% static 'img/3.jpg' %}" alt="">
                </div>
                <div class="icons">
                    <span class= 'far fa-comment'></span>
                    <span class= 'fas fa-retweet'></span>
                    <span class= 'far fa-heart'></span>
                    <span class= 'far fa-share-square'></span>
                </div>
            </a>

            <a class="post-card" href="#">
                <div class="user-img">
                    <img src="{% static 'img/3.jpg' %}" alt="">
                </div>
                <div class="user-info">
                    <p class="full-name">Omar Muhammed Khalaf</p>
                    <p class="username">@OmarKhalaf</p>
                    <p class="created-at">3h</p>
                </div>
                <div class="post-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto nemo maiores placeat perspiciatis perferendis, sequi iusto harum sint quod nulla, reprehenderit vero dolorum minima optio amet veritatis ullam deserunt sed.</p>
                </div>
                <div class="post-img">
                    <img src="{% static 'img/3.jpg' %}" alt="">
                </div>
                <div class="icons">
                    <span class= 'far fa-comment'></span>
                    <span class= 'fas fa-retweet'></span>
                    <span class= 'far fa-heart'></span>
                    <span class= 'far fa-share-square'></span>
                </div>
            </a>
        </div>
    </section>

    {% include 'parts/right.html' %}
</main>
{% endblock content %}